@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: 'Outfit', sans-serif;
}

@theme {
    --color-primary: #98fb98 ; 
    --color-primary-dull: #1E3A8A;
}

.no-scrollbar::-webkit-scrollbar{
    display :none;
}